html {
    height: 100%;
}

body {
    background-color: #e4e4e4 !important;
}

.page-wrapper {
    min-height: 100%;
}

.page-content {
    border-top: 1px solid #E6E8EA;
}

.page-content > .container-fluid-md {
    margin: 0 24px;
}

.page-content > .container-fluid-md:first-child {
    margin-top: 24px;
}

.form-horizontal .control-label {
    text-align: left;
}

label {
    font-weight: normal; }

legend {
    padding: 10px 0;
    font-size: 18px;
    border-width: 0 0 1px;
    border-color: #eee;
}

.full-width {
    width: 100%;
}

.require {
    color: darkred;
    font-weight: bold;
}

.form-control.k-widget
{
    padding: 0;
}