{% extends "layout.html.twig" %}

{% block body %}

    {% block requirejs %}
        {{ include('_requirejs.html.twig', {
        'module': 'app/shipment/communication'
        }) }}
    {% endblock %}

    <div id="container">

        {% include "shipment/_sidebar.html.twig" %}

        <script type="text/x-kendo-tmpl" id="messages">
        <div class="panel-body">
            <div class="row ">
                <div class=" col-md-10 col-lg-10">
                    <strong>#:subject#</strong>
                    <br />
                    #:message#
                    <br />
                    <small class="text-muted">#:created_by# | #:created_at#</small>
                    <hr />
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-kendo-tmpl" id="send">
        <div class="panel-footer">
            <div class="row ">


                </div>
            </div>
        </div>
    </script>

        <div id="content">
            <div class="container">

                {% include "shipment/_breadcrumbs.html.twig" %}

                <div class="page-header">
                    <div class="page-title">
                        <h3>IFT00001</h3>
                        <span>Shipment Messages</span>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div id="shipment-messages-listview"></div>
                    </div>
                </div>

                <div id="form-addMessage">
                    <div class="row">
                        <div class=" col-md-10 col-lg-10">

                            <label for="subject" class="col-sm-3 control-label">Subject <span
                                    class="require">*</span></label>

                            <input type="text" class="col-sm-9" class="form-group" id="subject" name="subject" required data-required-msg="Enter Subject" placeholder="Enter Subject" />
                            <span class="k-invalid-msg" data-for="subject"></span>
                            <br>
                            <label for="message" class="col-sm-3 control-label">Message <span
                                    class="require">*</span></label>
                            <textarea class="col-sm-9" class="form-group" id="message" name="message" required data-required-msg="Enter Message" placeholder="Enter Message"></textarea>
                            <span class="k-invalid-msg" data-for="message"></span>
                            <br>
                        <button class="k-button" type="submit" id="sendButton" />Send</button>

                        <div class="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}