{% extends "layout.html.twig" %}

{% block body %}

    {% block requirejs %}
        {{ include('_requirejs.html.twig', {
        'module': 'app/shipment/communication'
        }) }}
    {% endblock %}

    <div id="container">

        {% include "shipment/_sidebar.html.twig" %}

        <script type="text/x-kendo-tmpl" id="messages">
        <div class="panel-body">
            <div class="row ">
                <div class=" col-md-10 col-lg-10">
                    #:subject#
                    <br />
                    <small class="text-muted">#:created_by# | #:created_at#</small>
                    <hr />
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-kendo-tmpl" id="send">
        <div class="panel-footer">
            <div class="row ">
                <div class=" col-md-10 col-lg-10">
                    <input type="text" class="form-control" id="message" placeholder="Enter Message" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" id="sendButton" type="button">SEND</button>
                    </span>
                </div>
            </div>
        </div>
    </script>

        <div id="content">
            <div class="container">

                {% include "shipment/_breadcrumbs.html.twig" %}

                <div class="page-header">
                    <div class="page-title">
                        <h3>IFT00001</h3>
                        <span>Shipment Messages</span>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div id="shipment-messages-listview"></div>
                    </div>
                </div>

                <div class="page-footer">
                    <div class="row">
                        <div id="shipment-messages-send"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}