{% extends "layout.html.twig" %}

{% block body %}

    {% block requirejs %}
        {{ include('_requirejs.html.twig', {
        'module': 'app/shipment/parties'
        }) }}
    {% endblock %}

<div id="container">

    {% include "shipment/_sidebar.html.twig" %}

    <script type="text/x-kendo-tmpl" id="template">
        <div class="col-sm-2 col-md-3 col-lg-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">#:party.name#</h3>
                    </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="flag-wrapper"><div class="flag flag-icon-background flag-icon-#:party.address.country.id.toLowerCase()#"></div></div>
                    </div>
                    <div class=" col-md-10 col-lg-10">
                        <h4>#:party.name#</h4><br>
                            <table class="table table-condensed">
                            <tbody>
                                    <tr>
                                        <td>#:party.address.address1#</td>
                                    </tr>
                                    <tr>
                                        <td>#:party.address.address2#</td>
                                    </tr>
                                    <tr>
                                        <td>#:party.address.address3#</td>
                                    </tr>
                                    <tr>
                                        <td>#:party.address.address4#</td>
                                    </tr>
                                    <tr>
                                        <td>#:party.address.post_code#</td>
                                    </tr>
                                    <tr>
                                        <td>#:party.address.country.name#</td>
                                    </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
             <div class="panel-footer">
                <button class="btn btn-sm btn-primary" type="button" id="email"
                data-toggle="tooltip"
                data-original-title="Send message to user"
                ><i class="glyphicon glyphicon-envelope"></i></button>
                <span class="pull-right">
                <button class="btn btn-sm btn-warning" type="button"
                data-toggle="tooltip"
                data-original-title="Edit this user"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-sm btn-danger" type="button"
                data-toggle="tooltip"
                data-original-title="Remove this user"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>
            </div>
        </div>
    </script>

    <div id="content">
        <div class="container">

            {% include "shipment/_breadcrumbs.html.twig" %}

            <div class="page-header">
                <div class="page-title">
                    <h3>IFT00001</h3>
                    <span>Shipment Parties</span>
                </div>

                {% include "shipment/_addPartyCombo.html.twig" %}
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div id="shipment-parties-listview"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}