{% extends "layout.html.twig" %}

{% block body %}
    <ul>
        <li><a href="wireframe/shipment/new">New Shipment</a></li>
        <li><a href="">Shipment Dashboard</a></li>
    </ul>
{% endblock %}